{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 3,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "useTabs": false,
  "endOfLine": "auto",
  "proseWrap": "always"
}
